a,
.c_tx {
	color: #7aa621
}

body,

.c_tx3 {
	color: #94998a
}

.bor2 {
	border-color: #eaedd5
}

.bor3,
.bgr3 {
	border-color: #eaedd5
}

.bg {
	background: #fefff7
}

.bor_bg3 {
	border-color: #fefff7
}






