@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" rev="stylesheet" href="~/css/19(1).css" type="text/css" media="screen">
<link rel="stylesheet" rev="stylesheet" href="~/css/say.css" type=" text/css" media="screen">
<div class="mod_wrap bg mod-wrap">
    <div style="font-size:14px; line-height:20px; margin:1px 0 7px 25px;display:none;" data-note="pengyou.com" id="pengyou_headbar">
        <a href="https://qzs.qq.com/#" target="_top" class="c_tx"></a>
        <span style="margin:0 5px;">-</span><span>说说</span>
    </div>
    <div class="mod_wrap_inner">
        <div class="app_mood" id="app_mod">
            <div class="container" id="ICFeedsContainer">
                <div class="main_wrap bg3">
                    <div class="main bg bor3">
                        <div class="none" id="mood-banner-top">
                        </div>
                        <div class="feed_wrap">
                            <!-- feed_commend -->
                            <ol id="msgList" class="mod_feed_lst js_error_display">
                                <li class="feed" data-tid="5e255a63fa8e825c04320700" data-uin="1666852190" data-seed="item-0" data-img-load="load"
                                    data-comment-load="load" data-like-handled="1">
                                    <div class="private_hd private_show none">
                                        <div class="private_bg"></div>
                                    </div>
                                    <div class="avatar">
                                        <a href="http://user.qzone.qq.com/1666852190" onclick="return false;" class="goProfile"
                                           profileuin="1666852190" title="千山(1666852190)">
                                            <span class="skin_portrait_round"></span><img data-src="http://qlogo3.store.qq.com/qzone/1666852190/1666852190/100?1520246593"
                                                                                          src="./100(13)" class="" alt="千山(1666852190)" height="100">
                                        </a>
                                    </div>
                                    <div class="box bgr3">
                                        <div class="arr bor3">
                                            <div class="bor_bg3"></div>
                                        </div>
                                        <div class="bd">
                                            <a href="http://user.qzone.qq.com/1666852190/mood" onclick="return false;" class="qz_311_author c_tx nickname goProfile"
                                               profileuin="1666852190" profilepft="1" data-uin="1666852190">千山</a>
                                            <pre style="display:inline;" class="content">终于理了发，没有错过一年中最佳的一天～</pre><span></span>
                                            <div class="f_toggle"><a href="javascript:void(0);" onclick="return false;" class="has_more_con "></a></div>
                                        </div>
                                        <div class="ft">
                                            <div class="info">
                                                <span class="c_tx3"><a class="c_tx c_tx3 goDetail" title="2019年3月8日 23:49" href="">2019年3月8日</a></span><span class="c_tx3">来自<span class="custom-tail" title="荣耀8X (4G)">荣耀8X (4G)</span></span>
                                            </div>
                                            <div class="op">
                                                <a href="javascript:;" class="qz_like_btn c_tx mr8" style="display: inline-block;">赞(15)</a><a href="" class="c_tx comment_btn" target="_blank" onclick="return false;" id="">评论(4)</a><a href="" class="c_tx forward_btn"
                                                                                                                                                                                                                                          target="_blank" onclick="return false;" id="">转发</a>
                                                <div class="dropdown more-edit-items">
                                                    <a href="javascript:void(0);" class="dropdown-trigger c_tx">
                                                        更多<i class="ui_trig ui_trig_b"></i>
                                                    </a>
                                                    <div class="dropdown-menu menu-item-list bor2 bg" aria-hidden="false">
                                                        <ul role="presentation">
                                                            <li><a href="javascript:void(0);" class="edit_btn author_display" role="menuitem">编辑</a></li>
                                                            <li><a href="javascript:void(0);" class="goDetail" role="menuitem">收藏</a></li>
                                                            <li><a href="javascript:void(0);" class="goDetail" role="menuitem">详情</a></li>
                                                            <li><a href="javascript:void(0);" class="del del_btn author_display">删除</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box_extra bor3 ">
                                            <div class="box_extra_arr bor3">
                                                <div class="bor_bg3"></div>
                                            </div>
                                            <div class="feed_like" id="" style="">
                                                <i class="ui_ico icon_hand ui_ico_f qz_like_hand hand"></i>
                                                <!--if-->
                                                <!--if--><a href="" target="_blank" class="c_tx" title="花开半夏如诗似画">花开半夏如诗似画</a>、&nbsp;<a href="http://user.qzone.qq.com/593590551"
                                                                                                                                        target="_blank" class="c_tx" title="李子昂">李子昂</a>
                                                <!--if-->&nbsp;等<a href="javascript:void(0);" class="c_tx">15人</a>觉得很赞
                                            </div><!-- 评论区 -->
                                            <div class="mod_comment">
                                                <div class="mod_comments">
                                                    <div class="comments_list">
                                                        <div class="comments_list_more" style="display: none;"><a class="c_tx" href="">查看全部<span>4</span>条评论<span>&gt;&gt;</span></a></div>
                                                        <div class="comments_list_more" style="display: none;"><i class="ui_ico ico_expanding"></i>正在展示更多评论...</div>
                                                        <ul>
                                                            <li class="comments_item bor3">
                                                                <div class="comments_item_bd">
                                                                    <div>
                                                                        <div class="ui_avatar"><a href="" target="_self"><img src="./50(11)"></a></div>
                                                                        <div class="comments_content">
                                                                            <a class="nickname" href="" target="_self">县城</a><span class="private-txt"></span><span style="display: none;"> 回复 <a class="nickname" href="" target="_self">undefined</a></span> :
                                                                            <span>二月二</span>
                                                                            <div class="none">
                                                                                <div></div>
                                                                            </div>
                                                                            <div class="comments_op">
                                                                                <span class="c_tx3 ui_mr10">2019-3-9</span><span class="c_tx3 ui_mr10"
                                                                                                                                 style="display: none;">undefined</span><a href="javascript:void(0);" class="mod_comment_reply c_tx">回复</a><a href="javascript:void(0);" class="c_tx" style="display: none;">置顶</a><a href="javascript:;"
                                                                                                                                                                                                                                                                                                                      class="c_tx mod_comment_del" style="display: none;">删除</a><a href="javascript:;" class="c_tx mod_comment_report"
                                                                                                                                                                                                                                                                                                                                                                                   style="display: none;">举报</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mod_comments_sub">
                                                                        <ol>
                                                                            <li class="comments_item bor3">
                                                                                <div class="comments_item_bd">
                                                                                    <div class="ui_avatar"><a target="_self"><img src="./50(12)"></a></div>
                                                                                    <div class="comments_content">
                                                                                        <a class="nickname" target="_self">千山</a><span>
                                                                                            <span>
                                                                                                回复
                                                                                            </span><a class="nickname" target="_self">县城</a>
                                                                                        </span>
                                                                                        : <span>龙抬头</span>
                                                                                        <div class="comments_op">
                                                                                            <span class="c_tx3 ui_mr10">2019-3-9</span><a class="c_tx comments_sub_reply">回复</a><a class="comments_sub_del">删除</a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li class="comments_item bor3">
                                                                                <div class="comments_item_bd">
                                                                                    <div class="ui_avatar"><a target="_self"><img src="./50(12)"></a></div>
                                                                                    <div class="comments_content">
                                                                                        <a class="nickname" target="_self">千山</a><span>
                                                                                            <span>
                                                                                                回复
                                                                                            </span><a class="nickname" target="_self">县城</a>
                                                                                        </span>
                                                                                        : <span>龙抬头</span>
                                                                                        <div class="comments_op">
                                                                                            <span class="c_tx3 ui_mr10">2019-3-9</span><a class="c_tx comments_sub_reply">回复</a><a class="comments_sub_del">删除</a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ol>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div><!-- list end -->
                                                    <!-- poster -->
                                                </div><!-- qz_comments end-->
                                                <!--发表框 默认-->
                                                <div class="mod_commnets_poster">
                                                    <!--如果，发表框在评论列表上面，请加上 class mod_commnets_poster_top 谢谢-->
                                                    <div class="comments_poster_bd comments_poster_default">
                                                        <div class="comments_box">
                                                            <div class="textinput textinput_default bor2" contenteditable="true" placeholder="我也说一句">我也说一句</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box_shadow">
                                        <div class="shadow_left"></div>
                                        <div class="shadow_right"></div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <!--.feed_wrap-->
                    </div>
                </div>
                <div class="sidebar lite_hide">
                    <div class="profile bg">
                        <div class="avatar">
                            <a href="javascript:void(0);" onclick="return false;">
                                <span class="skin_portrait_round"></span><img src="./100(13)" alt="">
                            </a>
                        </div>
                        <div class="bd">
                            <div class="name"><span title="千山">千山</span></div>
                            <div class="feed_num">
                                <a href="http://user.qzone.qq.com/1666852190/mood" onclick="return false;" class="c_tx goProfile"
                                   profileuin="1666852190">24</a>条说说
                            </div>
                        </div>
                        <div class="box_shadow"></div>
                    </div>
                    <!-- .com_audit-->
                    <div class="com_audit side_panel qzone_display review_notice author_display">
                        <div class="hd">
                            <h3>评论审核</h3>
                        </div>
                        <div class="bd">
                            <p class="audit_tips c_tx3">
                                开启评论审核后，非好友对您说说的回复经过审核才能显示
                                <a href="javascript:void(0);" onclick="MOOD.jumpToAudit();" class="c_tx" id="censor_count">当前待审核评论 (0)</a>
                            </p>
                        </div>
                    </div>
                    <div class="split_line bor2"></div>
                    <a target="_blank" data-rel="mood_help" href="http://kf.qq.com/faq/120227U7vmAf131028uquuaa.html">说说使用帮助</a>

                    <p class="c_tx3" style="margin-top: 10px;">温馨提醒：<br>若有修改QQ密码会清除定时说说发表，需要重新设置定时说说</p>
                </div>
            </div>
        </div>
    </div>
</div>

